.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .foto {
    display: flex;
    height: 30px;
    width: 30px;
    /* background-color: gray; */
    border-radius: 50%;
    border: 1px black solid;
    margin-top: -8px;
  }
  
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
  }
  
  li {
    list-style-type: none;
    margin-right: 20px;
    margin-top: 1px;
  }

  .menu-icon {
    color: #70757a;
    font-size: 24px;
  }
