.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.inputMain {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.search-icon {
  margin-left: -30px;
  cursor: pointer;
}

.main-btn {
  display: flex;
  gap: 10px;
}

.botao {
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.icons-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.icon {
  cursor: pointer;
}